[user]
	name = Max Tayler
	email = maxtayler1@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    ll = log --graph --decorate --pretty='%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --date=short
    st = status -s
    amend = commit --amend --no-edit -a
    fpush = push --force-with-lease
    publish = "!f() { git push origin --set-upstream $(git rev-parse --abbrev-ref HEAD); }; f"
    cm = "!f() { git commit -m \"$1\" -a; }; f"
    ptag = "!f() { git tag \"$1\" && git push origin \"$1\"; }; f"
    dtags = "!f() { git tag --delete $(git tag --list \"$1*\"); }; f"
    echo-branches = for-each-ref --format='%(refname:short) ' refs/heads/
    co = checkout
[core]
	excludesfile = /Users/MaxTayler/.gitignore_global
