[user]
	name = Max Tayler
	email = maxtayler1@gmail.com
	signingkey = 7FAFCE60
[gpg]
	program = gpg
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    l = log --pretty=oneline --graph
    s = status -s
    branches = branch -a
    amend = commit --amend --no-edit -a
    pf = push --force-with-lease
    branchname = "!f() { git rev-parse --abbrev-ref HEAD; }; f"
    publish = "!f() { git push origin --set-upstream $(git branchname); }; f"
[diff]
    tool = kdiff3
[difftool]
    prompt = false
[merge]
    tool = kdiff3
    conflictstyle = diff3
