[user]
	name = Max Tayler
	email = maxtayler1@gmail.com
	signingkey = 7FAFCE60
[gpg]
	program = gpg
[commit]
	gpgsign = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
    l = log --pretty=oneline --graph
    s = status -s
    amend = commit --amend --no-edit -a
    pf = push --force-with-lease
    p = "!f() { git push origin --set-upstream $(git rev-parse --abbrev-ref HEAD); }; f"
    co = checkout
    ca = "!f() { git commit -m \"$1\" -a; }; f"
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    d = branch -D
    cob = checkout -b
    t = "!f() { git tag \"$1\" && git push origin \"$1\"; }; f"
    delete-tag-with-pattern = "!f() { git push -d origin $(git tag -l \"$1*\") && git tag -d $(git tag -l \"$1*\"); }; f"
